{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Bully-Builder</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt="" />
            <span>
              Bully-Builder
            </span>
          </a>
          <div class="contact_nav" id="">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/service">
                  <img src="{% static 'images/location.png' %}" alt="" />
                  <span>Location</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">
                  <img src="{% static 'images/call.png' %}" alt="" />
                  <span>Call : + 01 1234567890</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">
                  <img src="{% static 'images/envelope.png' %}" alt="" />
                  <span>Bully_Builder@gmail.com</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container">
        <div class="custom_nav2">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ai">AI Solutions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a> <!-- Updated href -->
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>Get Your Body</h2>
                      <h1>Fitness Here</h1>
                      <p>Be the most perfect you can be. You can do it. Take the chance to be all that you can be. Let Start today with Bully Builder.</p>
                      <div class="btn-box">
                        <a href="" class="btn-1">Read More</a>
                        <a href="" class="btn-2">Get A Quote</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>Get Your Body</h2>
                      <h1>Fitness Here</h1>
                      <p>Be the most perfect you can be. You can do it. Take the chance to be all that you can be. Let Start today with Bully Builder.</p>
                      <div class="btn-box">
                        <a href="" class="btn-1">Read More</a>
                        <a href="" class="btn-2">Get A Quote</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>Get Your Body</h2>
                      <h1>Fitness Here</h1>
                      <p>Be the most perfect you can be. You can do it. Take the chance to be all that you can be. Let Start today with Bully Builder.</p>
                      <div class="btn-box">
                        <a href="" class="btn-1">Read More</a>
                        <a href="" class="btn-2">Get A Quote</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>About Big-Bully</h2>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
          <div class="detail-box">
            <p>Be the most perfect you can be. You can do it. Take the chance to be all that you can be. Let Start today with Bully Builder.</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <!-- service section -->
    <section class="service_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>Our Services</h2>
        </div>
        <div class="service_container">
          <div class="box">
            <img src="{% static 'images/s-1.jpg' %}" alt="">
            <h6 class="visible_heading">CROSSFIT TRAINING</h6>
            <div class="link_box">
              <a href="/info">Read More</a> <!-- Updated href -->
            </div>
          </div>
          <div class="box">
            <img src="{% static 'images/s-2.jpg' %}" alt="">
            <h6 class="visible_heading">ZUMBA CLASS</h6>
            <div class="link_box">
              <a href="/info">Read More</a> <!-- Updated href -->
            </div>
          </div>
          <div class="box">
            <img src="{% static 'images/s-3.jpg' %}" alt="">
            <h6 class="visible_heading">PERSONAL TRAINER</h6>
            <div class="link_box">
              <a href="/info">Read More</a> <!-- Updated href -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end service section -->

    <!-- Begin footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="footer_content">
          <div class="footer_logo">
            <img src="{% static 'images/logo.png' %}" alt="Bully-Builder Logo" />
            <span>Bully-Builder</span>
          </div>
          <div class="footer_links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/service">Services</a></li>
              <li><a href="/ai">Ai solution</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End footer section -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Slider JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
